* {
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #0D3941;
  text-align: center;
  color: white;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  color: white;
}
.confucius:hover {
  color: yellow;
}
.fortune-cookie:hover {
  color: purple;
}

.nostradamus:hover {
  color: blue;
}

.magic:hover {
  color: pink;
}

.confucius {
  background-color: #2A464B;
  width: 24%;
  text-align: center;
}

.fortune-cookie {
  background-color: #295A64;
  width: 24%;
  text-align: center;
}

.nostradamus {
  background-color:#1c7585;
  width: 24%;
  text-align: center;
}

.magic {
  background-color:#4FB0C2;
  width: 24%;
  text-align: center;
}

.sayings > p {
  display: none;
  flex-direction: row;
  width: 24%;
  color: white;
}

.sayings > p.active{
  display: block;
}

.sayings  .confucius{
  color: red;
}
